app:
  name: crossreference-api

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs

spring:
  jackson:
    date-format: com.virginvoyages.RFC3339DateFormat
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
      url: ${xref.datasource.url}
      username: ${xref.datasource.username}
      password: ${xref.datasource.password}

management:
  security:
    enabled: false

feign:
  hystrix:
    enabled: false

security:
  basic:
    enabled: false

log:
  file: app.log

logging:
  level:
    org.springframework.web.client: DEBUG
    com.virginvoyages: DEBUG
---
spring:
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl    
