app:
  name: recommendation-api

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs

spring:
  jackson:
    date-format: com.virginvoyages.RFC3339DateFormat
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  data:
    hbase:
      quorum: ${hbase.quorum}      

management:
  security:
    enabled: false

feign:
  hystrix:
    enabled: false

security:
  basic:
    enabled: false

log:
  file: app.log

logging:
  level:
    org.springframework.web.client: DEBUG
    com.virginvoyages: DEBUG
