swagger: '2.0'
info:
  version: 1.0.0
  title: 'Tribe Segmentation, Recommendation and Lake Data Request API'
host: virginvoyages.tribe.api
basePath: /v1
schemes:
  - http
paths:
  /tribe:
    get:
      tags:
        - Tribe
      description: To request a tribe for a given sailor ID
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: >-
            the source or caller of the API request - this will be an
            application code to be defined later
          in: query
          required: true
          type: string
        - name: sailorId
          description: the unique sailorID which may or may not be a CRM C360 profile
          in: query
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Tribe'
  /tribes:
    get:
      tags:
        - Tribes
      description: To request a tribes for a given sailor ID
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: >-
            the source or caller of the API request - this will be an
            application code to be defined later
          in: query
          required: true
          type: string
        - name: sailorId
          description: the unique sailorID which may or may not be a CRM C360 profile
          in: query
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            title: Tribe Data of Sailor ID received in request
            type: object
            properties:
              tribe:
                type: array
                items:
                  $ref: '#/definitions/Tribe'
  /contentRecommendation:
    post:
      tags:
        - Content Recommendation
      description: To obtain a content recommendation
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: >-
            The system making the request, use the sailor ID + system to
            leverage the x-ref to find the data lake identifier
          in: query
          required: true
          type: string
        - name: sailorID
          description: The END system identifier for the sailor
          in: query
          required: true
          type: string
        - name: channel
          description: >-
            Channel identifier - Mobile, Web, Ship Screen, Voice, Call Centre -
            what is the end requesting medium this is an enumerate
          in: query
          required: true
          type: string
          enum:
            - Mobile
            - Web
            - Ship Screen
            - Voice
            - Call Centre
        - name: place
          description: >-
            The place identifier for the recommendation. This will an array of
            places consisting of PlaceID and PlaceName separated by '|' (pipe)-
            e.g. 01|Spa, 02|Cabin, etc this is a defined enumerate that is
            constant between channels (Spa on the ship is Spa on the web)
          in: query
          required: true
          type: array
          items:
            type: string
        - name: meta-data
          description: >-
            A variable tuple envelop of additional meta-data that is not used at
            this stage but may be of use in future (e.g. cookies, URIs, etc)
            this is used for machine learning in the future, not the individual
            request. The format of meta-data tuple would be pipe separated key
            value pair.  e.g ["URL"| "www.example.com", ...] 
          in: query
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
          schema:
            title: Array of Recommendation Data
            type: object
            properties:
              contentReco:
                type: array
                items:
                  $ref: '#/definitions/contentRecommendation'
  /recommendationResponse:
    put:
      tags:
        - Recommendation Response
      description: >-
        To update the exising recommendation with feedback based on the
        customer's selected option
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: nbxUniqueKey
          description: the unique key associated with each recommendation when it is issued
          in: query
          required: true
          type: integer
          format: long
        - name: sailorSelection
          description: 'from the recommendation that was issued, what the sailor selected'
          in: query
          required: true
          type: string
        - name: selectionSentiment
          description: this will be a set of codes to be defined
          in: query
          required: false
          type: string
          enum:
            - Default (not-selected)
            - Selected
            - Not shown
            - Rejected
      responses:
        '200':
          description: Successful response
  /recommendationRequest:
    get:
      tags:
        - Request Recommendation
      description: 'To get back with the Recommendataion attached to the nbxUnique '
      parameters:
        - name: nbxUniqueKey
          description: the unique key associated with each recommendation when it is issued
          in: query
          required: true
          type: integer
          format: long
      responses:
        '200':
          description: Successful response
          schema:
            title: Recommendation
            type: object
            properties:
              reco:
                type: array
                items:
                  $ref: '#/definitions/keyValue'
  /calenderRecommendation:
    post:
      tags:
        - Calendar Recommendation
      description: To request calendar recommendations from the recommendation engine.
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: >-
            The system making the request, use the sailor ID + system to
            leverage the x-ref to find the data lake identifier
          in: query
          required: true
          type: string
        - name: sailorID
          description: The END system identifier for the sailor
          in: query
          required: true
          type: string
        - name: groupSailors
          description: Additional sailors accompanying the primary Sailor ID
          in: query
          required: false
          type: array
          items:
            type: string
        - name: reservationIDs
          description: >-
            this is the reservation ID pointing to data in the RES (Seaware)
            system
          in: query
          required: true
          type: array
          items:
            type: string
        - name: place
          description: >-
            The place identifier for the recommendation. This will an array of
            places consisting of PlaceID and PlaceName separated by '|' (pipe)-
            e.g. 01|Spa, 02|Cabin, etc this is a defined enumerate that is
            constant between channels (Spa on the ship is Spa on the
            web)        
          in: query
          required: true
          type: array
          items:
            type: string
        - name: qtyPerPlace
          description: the max number of recommendations per category that are desired
          in: query
          required: true
          type: array
          items:
            type: integer
            format: integer
        - name: startDate
          description: the startDate of time for which curated news will be computed
          in: query
          required: true
          type: string
          format: date
        - name: endDate
          description: the endDate of time for which curated news will be computed
          in: query
          required: true
          type: string
          format: date
        - name: channel
          description: >-
            Channel identifier - Mobile, Web, Ship Screen, Voice, Call Centre -
            what is the end requesting medium this is an enumerate
          in: query
          required: true
          type: string
          enum:
            - Mobile
            - Web
            - Ship Screen
            - Voice
            - Call Centre
        - name: meta-data
          description: >-
            A variable tuple envelop of additional meta-data that is not used at
            this stage but may be of use in future (e.g. cookies, URIs, etc)
            this is used for machine learning in the future, not the individual
            request. The format of meta-data tuple would be pipe separated key
            value pair.  e.g ["URL"| "www.example.com", ...] 
          in: query
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
          schema:
            title: Array of Calendar Recommendation Data
            type: object
            properties:
              calenderReco:
                type: array
                items:
                  $ref: '#/definitions/calenderRecommendation'
  /marketingRecommendation:
    post:
      tags:
        - Marketing Recommendation
      description: To request marketing content recommendations.
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: >-
            the source or caller of the API request - this will be an
            application code to be defined later
          in: query
          required: true
          type: string
        - name: sailorID
          description: The END system identifier for the sailor
          in: query
          required: true
          type: string
        - name: campaignID
          description: the unique campaign identifier from CRM
          in: query
          required: true
          type: string
        - name: channel
          description: >-
            Channel identifier - Mobile, Web, Ship Screen, Voice, Call Centre -
            what is the end requesting medium this is an enumerate
          in: query
          required: true
          type: string
          enum:
            - Mobile
            - Web
            - Ship Screen
            - Voice
            - Call Centre
        - name: place
          description: >-
            The place identifier for the recommendation. This will an array of
            places consisting of PlaceID and PlaceName separated by '|' (pipe)-
            e.g. 01|Spa, 02|Cabin, etc this is a defined enumerate that is
            constant between channels (Spa on the ship is Spa on the web)
          in: query
          required: true
          type: array
          items:
            type: string
        - name: meta-data
          description: >-
            A variable tuple envelop of additional meta-data that is not used at
            this stage but may be of use in future (e.g. cookies, URIs, etc)
            this is used for machine learning in the future, not the individual
            request. The format of meta-data tuple would be pipe separated key
            value pair.  e.g ["URL"| "www.example.com", ...] 
          in: query
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
          schema:
            title: Array of Marketing Recommendation Data
            type: object
            properties:
              marketingReco:
                type: array
                items:
                  $ref: '#/definitions/marketingRecommendation'
  /hereNowRecommendation:
    post:
      tags:
        - Here Now Recommendation
      description: TBD
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: >-
            The system making the request, use the sailor ID + system to
            leverage the x-ref to find the data lake identifier
          in: query
          required: true
          type: string
        - name: sailorID
          description: The END system identifier for the sailor
          in: query
          required: true
          type: string
        - name: requestTime
          description: timestamp when the request was generated
          in: query
          required: true
          type: string
        - name: channel
          description: >-
            Channel identifier - Mobile, Web, Ship Screen, Voice, Call Centre -
            what is the end requesting medium this is an enumerate
          in: query
          required: true
          type: string
          enum:
            - Mobile
            - Web
            - Ship Screen
            - Voice
            - Call Centre
        - name: place
          description: >-
            The place identifier for the recommendation. This will an array of
            places consisting of PlaceID and PlaceName separated by '|' (pipe)-
            e.g. 01|Spa, 02|Cabin, etc this is a defined enumerate that is
            constant between channels (Spa on the ship is Spa on the
            web)        
          in: query
          required: true
          type: array
          items:
            type: string
        - name: meta-data
          description: >-
            A variable tuple envelop of additional meta-data that is not used at
            this stage but may be of use in future (e.g. cookies, URIs, etc)
            this is used for machine learning in the future, not the individual
            request. The format of meta-data tuple would be pipe separated key
            value pair.  e.g ["URL"| "www.example.com", ...] 
          in: query
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
          schema:
            title: Array of HereNow Recommendation Data
            type: object
            properties:
              hereNowReco:
                type: array
                items:
                  $ref: '#/definitions/hereNowRecommendation'
  /shipNewsRecommendation:
    post:
      tags:
        - Ship News Recommendation
      description: TBD
      parameters:
        - name: X-Correlation-ID
          description: >-
            an identifier generated by the calling application for its own
            purposes
          in: header
          required: false
          type: string
        - name: X-VV-Client-ID
          description: Application identifier of client
          in: header
          required: false
          type: string
        - name: requestSource
          description: the source or caller of the API request such as device type
          in: query
          required: true
          type: string
        - name: crewRequestorID
          description: optional - if a crew member submits the response
          in: query
          required: false
          type: string
        - name: sailorID
          description: The END system identifier for the sailor
          in: query
          required: true
          type: string
        - name: startDate
          description: the startDate of time for which curated news will be computed
          in: query
          required: true
          type: string
          format: date
        - name: endDate
          description: the endDate of time for which curated news will be computed
          in: query
          required: true
          type: string
          format: date
        - name: channel
          description: >-
            Channel identifier - Mobile, Web, Ship Screen, Voice, Call Centre -
            what is the end requesting medium this is an enumerate
          in: query
          required: true
          type: string
          enum:
            - Mobile
            - Web
            - Ship Screen
            - Voice
            - Call Centre
        - name: place
          description: >-
            The place identifier for the recommendation. This will an array of
            places consisting of PlaceID and PlaceName separated by '|' (pipe)-
            e.g. 01|Spa, 02|Cabin, etc this is a defined enumerate that is
            constant between channels (Spa on the ship is Spa on the
            web)        
          in: query
          required: true
          type: array
          items:
            type: string
        - name: meta-data
          description: >-
            A variable tuple envelop of additional meta-data that is not used at
            this stage but may be of use in future (e.g. cookies, URIs, etc)
            this is used for machine learning in the future, not the individual
            request. The format of meta-data tuple would be pipe separated key
            value pair.  e.g ["URL"| "www.example.com", ...] 
          in: query
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
          schema:
            title: Array of HereNow Recommendation Data
            type: object
            properties:
              shipNewsReco:
                type: array
                items:
                  $ref: '#/definitions/shipNewsRecommendation'
definitions:
  Tribe:
    type: object
    properties:
      sailorId:
        type: string
      tribe:
        type: string
      subTribe:
        type: string
      sailorAttributes:
        type: array
        items:
          $ref: '#/definitions/keyValue'
      stateOfSailor:
        type: array
        items:
          $ref: '#/definitions/keyValue'
  contentRecommendation:
    type: object
    properties:
      nbxUniqueKey:
        type: integer
      contentTag:
        type: string
      contentTagID:
        type: integer
  calenderRecommendation:
    type: object
    properties:
      nbxUniqueKey:
        type: integer
      calenderRecoItem:
        type: string
      calenderRecoID:
        type: integer
  marketingRecommendation:
    type: object
    properties:
      nbxUniqueKey:
        type: integer
      marketingTag:
        type: string
      marketingTagID:
        type: integer
  shipNewsRecommendation:
    type: object
    properties:
      nbxUniqueKey:
        type: integer
      recommedation:
        type: string
      recommedationID:
        type: integer
  hereNowRecommendation:
    type: object
    properties:
      nbxUniqueKey:
        type: integer
      hereNowItem:
        type: string
      hereNowItemID:
        type: integer
  keyValue:
    type: object
    properties:
      key:
        type: string
      value:
        type: string
